.badge {
  margin-left: 30px;
}

.btn:hover {
  background-color: #ce6c47;
}

.btn {
  margin: 10px;
}

.close:hover {
  color: #ce6c47;
}

#mailto {
  text-decoration: none;
  color: white;
}

#calendar {
  margin-top: 20px;
}
