img {
  opacity: 0.8;
}

.coverword {
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.tagline {
  font-family: "Proza Libre", sans-serif;
  word-spacing: 3px;
}
