.cart-item-container {
    width: 100%;
    display: flex;
    height: 70px;
    margin-bottom: 15px;
}

#cartimg {
      width: 30%;
}

#payimg {
  width: 10%;
  height: 100px;
}
  
.item-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 20px;
    }
.name {
        font-size: 12px;
      }
    
  