.Brand {
  font-family: "Montez", cursive;
  color: black;
  font-size: xx-large;
}

.Brand:hover {
  color: #ce6c47;
}

#NavLink {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding-right: 50px;
}

#NavLink:hover {
  color: #ce6c47;
}
