#schedulebg {
    color: white;
    background: #DC3545;
    height: 120px;
}

#schedulebg:hover {
    background: #ce6c47;
}

#confirm {
    margin-left: 17px;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}

.box:hover {
    background-color: #ce6c47;
}

.red {
    border-top: 3px solid var(--orange);
    background-color: wheat;
}
.teal {
    border-top: 3px solid var(--teal);
    background-color: aquamarine;
}
.purple {
    border-top: 3px solid var(--purple);
    background-color: violet;
}

.cyan {
    border-top: 3px solid var(--cyan);
    background-color: lightcyan;
}

.blue {
    border-top: 3px solid var(--blue);
    background-color: lightblue;
}

.orange {
    border-top: 3px solid var(--orange);
    background-color: blanchedalmond;
}